:root {
    --grid-cols: 0;
    --grid-rows: 0;
}

body {
    background-color: #bbb;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
}

h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

button {
    padding: 3px 20px;
    margin: 0;
    font-size: 18px;
    border-radius: 5px;
}

#grid {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    margin: 0 auto;
    width: 1000px;
    height: 800px;
}

#myRange {
  -webkit-appearance: none;
  appearance: none;
  width: 10em;
  height: 6px;
  background: #fff;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

#myRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 16px;
    background: black;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 50%;
  }

.item {
    background-color: white;
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.btn {
    display: flex;
    justify-content: center;
}

.slider {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
