:root {
    --grid-cols: 0;
    --grid-rows: 0;
}

h1 {
    text-align: center;
}

#grid {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    margin: 0 auto;
    max-width: 1890px;
    min-height: 900px;
}

.item {
    padding: 25px;
    border: 1px solid #333;
    text-align: center;
}
