:root {
    --grid-cols: 0;
    --grid-rows: 0;
}

body {
    background-color: #bbb;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
}

button {
    padding: 6px 24px;
    margin: .5em;
    font-size: 18px;
}

#grid {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    margin: 0 auto;
    max-width: 1500px;
    min-width: 800px;
    height: 1000px;
}

.item {
    background-color: white;
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
}
